* {
    box-sizing: border-box;
    color: #050606;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.grid-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.flex-wrapper{
  display: flex;
  flex-direction: column;
  border: 5px solid #FBE7C6;
  background-color: rgb(245, 245, 245);
}

.flex-wrapper > section {
  flex-grow: 1;
  border: 5px solid #FBE7C6;
}
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  width: 100%;
  
}
  
  /* 
     * Optional: Makes the sample page fill the window. 
     */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.individual-station {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 10px;
}

.station-details {
    margin-top: 0;
    margin-bottom: 0;
    
}

img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo {
    margin: auto;
    margin-right: 10px;
}

.nearest-station h3 {
    padding: 10px;
    margin: 0px;
}

.center-location {
    padding: 10px;
}

.clock { 
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    color: rgb(108, 206, 136);
}

.about {
    padding: 10px;
}

.team-name {
  margin-top: 5px;
  margin-bottom: 8px;
}

.about p { 
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f8889a;
}

footer {
    margin-top: 20px;
}
  
/* STATS SECTION */

.stats-info{
  padding: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.stats-header{
  font-weight: bold;
}

.stats-total{
  font-size: 17px;
  font-weight:550;
  margin: 5px 0;
}

.stats-items-wrapper{
  display: flex;
  flex-direction: column;
}

.stats-items {
  display: flex;
  font-weight: 100;
  justify-content:space-between;
  border-top: 1px solid rgb(108, 206, 136);
  padding: 2px 0;
}

.stats-items-wrapper > div:nth-child(odd) {
  background-color: #FBE7C6;
}


/* SPOTLIGHT SECTION */
.spotlight-info{
  display: grid;
  box-sizing: border-box;
  padding: 10px;
  row-gap: 10px;
  column-gap: 5px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header refresh"
  "nameAddress logo";
}

.spotlight-header{
  font-weight: bold;
  grid-area: header;
}

.spotlight-refresh{
  grid-area: refresh;
}

.spotlight-logo{
  grid-area: logo;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.spotlight-name {
  color: rgb(108, 206, 136);
}

.spotlight-nameAddress{
  grid-area: nameAddress;
  font-size: 17px;
  display: flex;
  flex-direction: column;
}

/* LATEST PRICES */

.latest-prices {
  padding: 10px;
}

.latest-prices p {
  margin-bottom: 0px;
  margin-top: 5px;
}

.mim {
  color: #F652A0;
}

.luke {
  color: #7F00FF;
}

.ben {
  color: #FF10F0;
}

.suchi {
  color: #7F00FF;
}

.wendy {
  color: #F652A0;
}

.refresh-link {
  color: rgb(108, 206, 136);
}

.team-name {
  color: rgb(108, 206, 136);
}