<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
</head>
<body>
    <div class="grid-wrapper">
        <aside class="flex-wrapper">
            <section>
                <h3>Spotlight</h3>
            </section>
            <section>
                <h3>Stats</h3>
                <h4>Total station: 5244</h4>
                <h4>Total owners: 32</h4>
            </section>
            <section>
                <h3>Latest prices</h3>
            </section>
            <section>
                <h3>About</h3>
                <h4>Team name: Scripting Squad</h4>
                <p><a href="http://github.com/benjackson33">Ben</a></p>
                <p><a href="https://github.com/papa-fish">Luke</a></p>
                <p><a href="https://github.com/canvas-tcg">Mim</a></p>
                <p><a href="https://github.com/SuchithraSuchithra/">Suchithra</a></p>
                <p><a href="https://github.com/wendyyzhu">Wendy</a></p>
                <footer>&copy; 2023</footer>
            </section>
        </aside>
        <main  id="map">
        </main>
        <aside class="flex-wrapper">
            <section class="clock">clock</section>
            <section class="center-location"> </section>
            <section class="nearest-station"><h3>Nearest</h3></section>
        </aside>
    </div>
    <script type="module" src="/servos_api.js"></script>
    <script type="module" src="/client.js"></script>
    <script type="module" src="/components/about.js"></script>
    <script type="module" src="/components/clock.js"></script>
    <script type="module" src="/components/latest_prices.js"></script>
    <script type="module" src="/components/map_centre.js"></script>
    <script type="module" src="/components/nearest.js"></script>
    <script type="module" src="/components/spotlight.js"></script>
    <script type="module" src="/components/stats.js"></script>

    <script>
        ;((g) => {
          var h,
            a,
            k,
            p = 'The Google Maps JavaScript API',
            c = 'google',
            l = 'importLibrary',
            q = '__ib__',
            m = document,
            b = window
          b = b[c] || (b[c] = {})
          var d = b.maps || (b.maps = {}),
            r = new Set(),
            e = new URLSearchParams(),
            u = () =>
              h ||
              (h = new Promise(async (f, n) => {
                await (a = m.createElement('script'))
                e.set('libraries', [...r] + '')
                for (k in g)
                  e.set(
                    k.replace(/[A-Z]/g, (t) => '_' + t[0].toLowerCase()),
                    g[k]
                  )
                e.set('callback', c + '.maps.' + q)
                a.src = `https://maps.${c}apis.com/maps/api/js?` + e
                d[q] = f
                a.onerror = () => (h = n(Error(p + ' could not load.')))
                a.nonce = m.querySelector('script[nonce]')?.nonce || ''
                m.head.append(a)
              }))
          d[l]
            ? console.warn(p + ' only loads once. Ignoring:', g)
            : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)))
        })({ key: '<%= process.env.API_KEY %>', v: 'weekly' })
      </script>
</body>
</html>